*.exe
*.o
*.obj
*.dll
*.so
*.pdb
main
main_clang
main_gcc
main_icpx
compile_flags.txt

sorts/radix_16-16.hpp
sorts/radix_10-11-11.hpp
sorts/quick_branchless_lomuto.hpp
sorts/sortnet/*.html
build/
out/
.vscode/
.vs/